/*Ok*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Inter', sans-serif;
}

body{
  background-color: #ffffff;
}

section,footer{
  padding: 54px 0;
}

h3{
  font-size: 50px;
}

p{
  color: black;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 5%;
}

.btn{
  background-color: #03453d;
  color: white;
  margin-top:5px;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}

.btn:hover {
  background-color: #317a6e;
}

.header{
  background-image: url('./imagens/fotoprincipal3.jpg');
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

nav ul{
  display: flex;
  align-items: center;
}

nav ul a{
  color: white;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}

nav ul a:not(.btn)::after {
  content: "";
  background-color: #317a6e;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

nav ul a:hover::after{
  width: 100%;
}

nav .menu-icon{
  cursor: pointer;
  font-size: 25px;
  color: white;
  display: none;
}

nav .close-icon{
  display: none;
  font-size: 30px;
  color: white;
}

.banner{
  display: flex;
  justify-content: center;
}

.banner .banner-text{
  margin: 150px;
  text-align: center;
  padding: 0 90px;
}

.banner .banner-text h1{
  font-size: 96px;
  color: white;
}

.banner .banner-text p{
  font-size: 20px;
  color: white;
  font-weight: lighter;
  margin: 18px;
}

.faca-mais .container{
  display: flex;
  align-items: center;
}

.faca-mais .faca-mais-text{
  width: 50%;
  padding: 0 40px;
}

.faca-mais .faca-mais-text h3{
  font-size: 56px;
}

.faca-mais .faca-mais-text p{
  margin: 5px 0 10px 0;
}

.faca-mais .faca-mais-img{
  width: 50%;
}

.faca-mais .faca-mais-img img{
  width: 100%;
}

.depoimentos h3{
  text-align: center;
}

.depoimentos p{
  margin-bottom: 20px;
  text-align: center;
}

.cards{
  display: flex;
  justify-content: center;
}

.depoimentos .cards-item{
  background-color:#1269BE;
  color: #001306;
  margin: 15px;
  border-radius: 14px;
  text-align: center;
  width: 350px;
  transition: 0.3s;
}

.depoimentos .cards-item img{
  border-radius: 100%;
  width: 80px;
  display: block;
  margin: 10px auto;
  color: #fff;
}

.depoimentos .cards-item .nome-user{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  transition: 0.3s;
  color: #fff;
}

.depoimentos .cards-item .depoimento-user{
  font-size: 15px;
  padding: 0 15px;
  transition: 0.3s;
  color: #fff;
}

.depoimentos .cards-item .estrelas{
  margin: 15px 0;
  border-top: 5px solid #001306;
  color: #fff;
}

.depoimentos .cards-item .estrelas i{
  color: #fff;
  margin-top: 15px;
  font-size: 20px;
  transition: 0.3s;
}

.depoimentos .cards-item:hover{
  background-color: #579e91;
  margin-top: -5px;
}

.depoimentos .cards-item.cards-item:hover .nome-user,
.depoimentos .cards-item.cards-item:hover .depoimento-user,
.depoimentos .cards-item.cards-item:hover .estrelas i{
  color: black;
}




.footer{
  text-align: center;
  background-color: #03453d;
  ;
}

.footer p{
  color: white;
  margin: 10px;
}

.footer i{
  color: #579e91;
  font-size: 19px;
  background-color: #ffffff;
  padding: 10px;
  margin: 3px;
  border-radius: 10px;
}

.sobre .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sobre .sobre-text{
  width: 50%;
  padding-right: 40px;
}

.sobre .sobre-text p{
  margin: 18px 0;
  color: #001306;
}

.sobre .sobre-img{
  width: 50%;
}

.sobre .sobre-img i{
  width: 100%;
  border-radius: 10px;
}

.servicos h3{
  text-align: center;
}

.servicos .container > p{
  text-align: center;
}

.servicos .rows-cards{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.servicos .row-card-item{
  background-color: #a2e6d7;
  width: 350px;
  padding: 20px;
  border-radius: 14px;
  margin: 20px;
  transition: 0.3s;
}

.servicos .row-card-item:hover{
  background-color: #7cc2b4;
}

.servicos .row-card-item:hover p{
  color: white;
}

.servicos .row-card-item img{
  background-color: #317a6e;
  border-radius: 14px;
  width: 70px;
  padding: 9px;
}

.servicos .row-card-item p.nome-servicos{
  margin: 5px 0;
  transition: 0.3s;
}

.servicos .row-card-item p.descricao-servicos{
  transition: 0.3s;
}

.dados{
  background: white;
}

.dados .container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dados .dados-item{
  text-align: center;
  margin: 15px;
  color: #001306;
}

.dados .dados-item img{
  background-color: #317a6e;
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 15px;
  width: 80px;
}

.dados .dados-item p{
  font-size: 18px;
}

.dados .dados-item p strong{
  font-size: 28px;
}

.contato-info{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contato-info .left-side{
  width: 50%;
  padding: 30px;
  background-color: #579e91;
  border-radius: 14px;
  margin-right: 50px;
  height: fit-content;
}

.contato-info .left-side div{
  display: flex;
  margin-bottom: 10px;
}

.contato-info .left-side div i{
  font-size: 24px;
  margin-right: 20px;
  color: white;
}

.contato-info .left-side p{
  font-size: 17px;
  color: white;
}

.contato-info .right-side{
  width: 50%;
}

.contato-info .right-side input{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 47px;
  padding: 15px;
  border-radius: 9px;
  transition: 0.3s;
  color: #001306;
  border: 1px solid #7cc2b4;
  font-weight: lighter;
}

.contato-info .right-side textarea{
  border: 1px solid #7cc2b4;
  color: #001306;
  border-radius: 9px;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  transition: 0.3s;
  resize: none;
}

.contato-info .right-side button{
  border: none;
}
/*____________________________________________*/

.login-info{
  display: flex;
  align-items: center;
}

.login-info .left-side{
  width: 50%;
  padding: 80px;
  background-color: #579e91;
  border-radius: 14px;
}

.login-info .left-side h3{
  color: white;
  font-size: 43px;
  margin: 10px;
}

.login-info .left-side p{
  color: white;
  font-size: 24px;
}

.login .right-side{
  width: 50%;
  background-color: #a2e6d7;
  border-radius: 14px;
}

.login-info .right-side h3{
  color: black;
  font-size: 48px;
}

.login-info .right-side p{
  color: black;
  font-size: 24px;
}
.login-info .right-side input,
.login-info .right-side textarea{
  display: block;
  width: 50%;
  margin-bottom: 10px;
  height: 47px;
  padding: 15px;
  border-radius: 9px;
  transition: 0.3s;
  border: 1px solid #7cc2b4;
  font-weight: lighter;
}

.login > .login-icons i{
  border-radius: 10px;
  border-color: 1px solid #7cc2b4;
}